body {
    margin: 0;
    position: relative;
    width: 1440px;
    height: 954px;
    background: linear-gradient(136.31deg, #0C0F07 14.16%, #1F102B 53.39%, #23193E 82.63%);
}

header {
    display: flex;
    align-items: center;
    margin-top: 51px;
    margin-left: 63px;
}

header ul {
    list-style: none;
    display: flex;
    margin-left: 599px;
    gap: 32px;
}

header ul li {
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #E0DAED;
    cursor: pointer;
}

main {
    display: flex;
    gap: 50px;
    margin-left: 115.04px;
}

main h1 {
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;
    text-align: center;
    color: rgba(159, 127, 219, 0.8);
    margin: 0;
    margin-left: -60px;    
}

main form input {
    width: 408.2px;
    height: 61.23px;
    background: #9F7FDB;
    border-radius: 10px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 19.05px;
    color: #FFFFFF;
    margin-left: 68.96px;
    margin-top: 42px;
}

main form input::placeholder {
    color: white;
}

.btns {
    display: flex;
    margin-left: 27.96px;
    margin-top: 53px;
    gap: 84px;
    
}

.btn {
    padding: 18px 28px;
    border-radius: 8px;
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

#btn1 {
    background: #7834F3;
    color: #E9E1FD;
}

#btn1:hover {
    background: #5d22c9;
}

#btn2 {
    background: #9F7FDB;
    color: white;
}

#btn2:hover {
    background: #8b6fc0;
}

.formGroup {
    margin-top: 123px;
}

.imgFoguete {
    margin-top: 257px;
}

.campObg {
    margin-top: 5px;
    margin-left: 370px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}